body {
    font-family: Arial, sans-serif;
}

.log-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.log-form h2 {
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.log-form form {
    display: flex;
    flex-direction: column;
}

.log-form input[type="text"],
.log-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.log-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.log-form button:hover {
    background-color: #0056b3;
}

.log-form .forgot {
    margin-top: 10px;
    text-align: center;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed */
}